/*  RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

img {
    width: 100%;
  }

body {
  background-color: #1e2e3c;
  font-family: 'Roboto', sans-serif;
}
  
header {
  background-color: rgb(46, 58, 70);
  padding: 10px;
}

header > div {
  display: inline-block;
}

.logo {
  width: 50px;
  height: 50px;
}

main {
  background-color: #1e2e3c;
}

main .filter {
  text-align: center;
  margin-top: 10px;
}

.filter span {
  color: white;
}

.cds-container {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cd {
  width: calc( ( 100% / 6 ) - 80px );
  text-align: center;
  background-color: rgb(46, 58, 70);
  padding: 20px;
  margin: 0 20px;
  margin-bottom: 20px;
}

.title {
  color: white;
  margin: 20px 0;
  font-size: 20px;
}

.author,
.year {
  font-size: 15px;
  font-weight: bold;
  color: grey;
}