<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Document</title>
</head>
<body>

  <div id="root">

    <header>
      <div>
        <img class="logo" src="img/download.png" alt="logo">
      </div>
    </header>

    <main>

      <div class="filter">

        <span>Filtra per genere: </span>

        <select v-model="selectedGenre" name="genre" id="genre">
          <option value="all" selected>All</option>
          <option v-for="genre in genreArray" :value="genre">{{ genre }}</option>
        </select>        

      </div>

      <div class="cds-container">
        <!--cds-->
        <div v-for="cd in cdsArray" class="cd" v-if="cd.genre == selectedGenre || selectedGenre == 'all'">
          <img :src="cd.poster" alt="img-album">
          <div class="title">{{ cd.title }}</div>
          <div class="author">{{ cd.author }}</div>
          <div class="year">{{ cd.year }}</div>
        </div>
        <!--cds-->
      </div>

    </main>

  </div>
  

  <script src="js/script.js"></script>
</body>
</html>